<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12 mb-4">
            <tabset>
                <tab id="tab1">
                    <ng-template tabHeading><i class="fa fa-building"></i> Company Details</ng-template>
                    <form class="form-horizontal">
                        <div class="col-md-9">
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="company_name">Company Name</label>
                                <div class="col-md-9">
                                <input type="text" id="company_name" [(ngModel)]="formdata.company_name" #ctrl="ngModel" name="company_name" class="form-control" placeholder="Company Name" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="brand_name">Brand Name</label>
                                <div class="col-md-9">
                                <input type="text" id="brand_name" [(ngModel)]="formdata.brand_name" #ctrl="ngModel" name="brand_name" class="form-control" placeholder="Brand Name" />
                                </div>
                            </div>  
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="website">Website</label>
                                <div class="col-md-9">
                                <input type="text" id="website" [(ngModel)]="formdata.website" #ctrl="ngModel" name="website" class="form-control" placeholder="Website Name" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="linkedin">Social Profiles</label>
                                <div class="col-md-9">
                                    <div class="col-md-12 input-group">
                                        <span class="input-group-prepend">
                                            <button class="btn btn-primary" type="button"><i class="fa fa-linkedin"></i></button>
                                        </span>
                                        <input class="form-control" id="linkedin" name="linkedin" placeholder="linkedin" [(ngModel)]="formdata.linkedin" #ctrl="ngModel" type="text"/>
                                    </div><br/>
                                    <div class="col-md-12 input-group">
                                        <span class="input-group-prepend">
                                            <button class="btn btn-primary" type="button"><i class="fa fa-facebook"></i></button>
                                        </span>
                                        <input class="form-control" id="facebook" name="facebook" placeholder="facebook" [(ngModel)]="formdata.facebook" #ctrl="ngModel" type="text">
                                    </div><br/>
                                    <div class="col-md-12 input-group">
                                        <span class="input-group-prepend">
                                            <button class="btn btn-primary" type="button"><i class="fa fa-twitter"></i></button>
                                        </span>
                                        <input class="form-control" id="twitter" name="twitter" placeholder="twitter" [(ngModel)]="formdata.twitter" #ctrl="ngModel" type="text">
                                    </div>
                                </div>
                            </div>
                        </div>
                    <button type="button" class="btn btn-primary pull-right  next-step" (click)="formsubmit($event,'tab2')">Save and continue</button>
                    </form>
                </tab>
                <tab id="tab2">
                    <ng-template tabHeading><i class="fa fa-users"></i> Basic Details</ng-template>
                    <form class="form-horizontal">
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="home_currency">Social Profiles</label>
                            <div class="col-md-9">
                                <select class="form-control" [(ngModel)]="formdata.home_currency" #ctrl="ngModel">
                                    <option>USD</option>
                                    <option>INR</option>
                                </select>
                            </div>
                        </div>
                        <table class="table table-striped">
                            <thead>
                                <th>Address</th>
                                <th>Pincode</th>
                                <th>State</th>
                                <th>Country</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let office of formdata.registeroffice; let i = index;">
                                    <td>
                                        <textarea class="form-control" name="address[]" placeholder="address" [(ngModel)]="formdata.registeroffice[i].address" #ctrl="ngModel" type="text"></textarea>
                                    </td>
                                    <td>
                                        <input name="pincode[]" class="form-control"  placeholder="pincode" [(ngModel)]="formdata.registeroffice[i].pincode" #ctrl="ngModel" type="text">
                                    </td>
                                    <td>
                                        <input name="statecountry[]" class="form-control" placeholder="statecountry" [(ngModel)]="formdata.registeroffice[i].statecountry" #ctrl="ngModel" type="text">
                                    </td>
                                    <td>
                                        <input name="country[]" class="form-control" placeholder="country" [(ngModel)]="formdata.registeroffice[i].country" #ctrl="ngModel" type="text">
                                    </td>
                                    <td>
                                        <button class="btn-sm btn-default form-control" *ngIf="formdata.registeroffice.length>1" type="button" (click)="deleteAddressValue(i,'registeroffice')"><i class="fa fa-trash"></i></button>
                                        <button class="btn-sm btn-default form-control"  type="button" (click)="addAddressValue(i,'registeroffice')"><i class="fa fa-plus"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <button type="button" class="btn btn-default pull-right  prev-step" (click)="prevTab($event,'tab1')">Previous</button>
                    <button type="button" class="btn btn-primary pull-right  next-step" (click)="formsubmit($event,'tab3')">Save and continue</button>
                    </form>
                </tab>
                <tab id="tab3">
                    <ng-template tabHeading><i class="fa fa-phone"></i> Contact Details </ng-template>
                    <form class="form-horizontal">
                        <div class="col-md-9">
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="contact_person">Contact Person</label>
                                <div class="col-md-9">
                                <input type="text" id="contact_person" [(ngModel)]="formdata.contact_person" #ctrl="ngModel" name="contact_person" class="form-control" placeholder="Contact Person" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="phoneno">Phone Number</label>
                                <div class="col-md-9">
                                <input type="text" id="phoneno" [(ngModel)]="formdata.phoneno" #ctrl="ngModel" name="phoneno" class="form-control" placeholder="Phone Number" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="email">Email</label>
                                <div class="col-md-9">
                                <input type="email" id="email" [(ngModel)]="formdata.email" #ctrl="ngModel" name="email" class="form-control" placeholder="Email" />
                                </div>
                            </div>
                        </div>
                    </form>
                    <button type="button" class="btn btn-default pull-right  prev-step" (click)="prevTab($event,'tab2')">Previous</button>
                    <button type="button" class="btn btn-primary pull-right  next-step" (click)="formsubmit($event,'tab4')">Save and continue</button>
                </tab>
                <tab id="tab4">
                    <ng-template tabHeading><i class="fa fa-file"></i> Identity </ng-template>
                    <form class="form-horizontal">
                        <div class="col-md-9">
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="pan">PAN</label>
                                <div class="col-md-9">
                                <input type="text" id="pan" [(ngModel)]="formdata.pan" #ctrl="ngModel" name="pan" class="form-control" placeholder="PAN" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="tan">TAN</label>
                                <div class="col-md-9">
                                <input type="text" id="tan" [(ngModel)]="formdata.tan" #ctrl="ngModel" name="tan" class="form-control" placeholder="TAN" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="gstn">GSTN</label>
                                <div class="col-md-9">
                                <input type="text" id="gstn" [(ngModel)]="formdata.gstn" #ctrl="ngModel" name="gstn" class="form-control" placeholder="GSTN" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="cin">Email</label>
                                <div class="col-md-9">
                                <input type="text" id="cin" [(ngModel)]="formdata.cin" #ctrl="ngModel" name="cin" class="form-control" placeholder="CIN" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="doi">Date of incorporation</label>
                                <div class="col-md-9">
                                <input type="date" id="doi" [(ngModel)]="formdata.doi" #ctrl="ngModel" name="doi" class="form-control" placeholder="Email" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label" for="cin">Company Entity</label>
                                <div class="col-md-9">
                                <select class="form-control" [(ngModel)]="formdata.companyentity" #ctrl="ngModel">
                                    <option>Pvt Ltd Company</option>
                                    <option>Public Ltd Listed Company</option>
                                    <option>Public Ltd Unlisted Company</option>
                                    <option>Unlimited Company</option>
                                    <option>Public Ltd Unlisted CompanySloe Proprietorship</option>
                                    <option>Joint Hindu Family Business</option>
                                </select>
                                </div>
                            </div>
                        </div>
                    </form>
                    <button type="button" class="btn btn-default pull-right  prev-step" (click)="prevTab($event,'tab3')">Previous</button>
                    <button type="button" class="btn btn-primary pull-right  next-step" (click)="formsubmit($event,'tab5')">Save and continue</button>
                </tab>
                <tab id="tab5">
                    <ng-template tabHeading><i class="fa fa-money"></i> Bank </ng-template>
                    <table class="table table-striped">
                        <thead>
                            <th>Bank Name</th>
                            <th>Account Number</th>
                            <th>Branch</th>
                            <th>IFSC Code</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let bank of formdata.bankdetails; let i = index;">
                                <td>
                                    <input class="form-control" name="bank[]" placeholder="Bank Name" [(ngModel)]="formdata.bankdetails[i].bank" #ctrl="ngModel" type="text">
                                </td>
                                <td>
                                    <input name="acno[]" class="form-control"  placeholder="AC No." [(ngModel)]="formdata.bankdetails[i].acno" #ctrl="ngModel" type="text">
                                </td>
                                <td>
                                    <input name="branch[]" class="form-control" placeholder="Branch" [(ngModel)]="formdata.bankdetails[i].branch" #ctrl="ngModel" type="text">
                                </td>
                                <td>
                                    <input name="ifsc[]" class="form-control" placeholder="IFSC" [(ngModel)]="formdata.bankdetails[i].ifsc" #ctrl="ngModel" type="text">
                                </td>
                                <td>
                                    <button class="btn-sm btn-default form-control" *ngIf="formdata.bankdetails.length>1" type="button" (click)="deleteBankValue(i)"><i class="fa fa-trash"></i></button>
                                    <button class="btn-sm btn-default form-control"  type="button" (click)="addBankValue(i)"><i class="fa fa-plus"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <button type="button" class="btn btn-default pull-right  prev-step" (click)="prevTab($event,'tab4')">Previous</button>
                    <button type="button" class="btn btn-primary pull-right  next-step" (click)="formsubmit($event,'tab6')">Save and continue</button>
                </tab>
                <tab id="tab6">
                    <ng-template tabHeading><i class="fa fa-connectdevelop"></i> Directors</ng-template>
                    <table class="table table-striped">
                        <thead>
                            <th>Name</th>
                            <th>Email ID</th>
                            <th>DIN</th>
                            <th>Phone Number</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let bank of formdata.directors; let i = index;">
                                <td>
                                    <input name="directorsname[]" class="form-control"  placeholder="Name" [(ngModel)]="formdata.directors[i].directorsname" #ctrl="ngModel" type="text">
                                </td>
                                <td>
                                    <input name="directorsemailid[]" class="form-control"  placeholder="Email ID" [(ngModel)]="formdata.directors[i].directorsemailid" #ctrl="ngModel" type="email">
                                </td>
                                <td>
                                    <input name="directorsdin[]" class="form-control" placeholder="DIN" [(ngModel)]="formdata.directors[i].directorsdin" #ctrl="ngModel" type="text">
                                </td>
                                <td>
                                    <input name="directorsphoneno[]" class="form-control" placeholder="Phone No." [(ngModel)]="formdata.directors[i].directorsphoneno" #ctrl="ngModel" type="text">
                                </td>
                                <td>
                                    <button class="btn-sm btn-default form-control" *ngIf="formdata.directors.length>1" type="button" (click)="deleteDirectorsValue(i)"><i class="fa fa-trash"></i></button>
                                    <button class="btn-sm btn-default form-control"  type="button" (click)="addDirectorsValue(i)"><i class="fa fa-plus"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <button type="button" class="btn btn-default pull-right  prev-step" (click)="prevTab($event,'tab5')">Previous</button>
                    <button type="button" class="btn btn-primary pull-right  next-step" (click)="formsubmit($event,'tab7')">Save and continue</button>
                </tab>
                <tab id="tab7">
                    <ng-template tabHeading><i class="fa fa-user"></i> Auditors</ng-template>
                    <table class="table table-striped">
                        <thead>
                            <th>Name</th>
                            <th>Email ID</th>
                            <th>Type</th>
                            <th>Phone Number</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let bank of formdata.auditors; let i = index;">
                                <td>
                                    <input name="auditorsname[]" class="form-control"  placeholder="Name" [(ngModel)]="formdata.auditors[i].auditorsname" #ctrl="ngModel" type="text">
                                </td>
                                <td>
                                    <input name="auditorsemailid[]" class="form-control"  placeholder="Email ID" [(ngModel)]="formdata.auditors[i].auditorsemailid" #ctrl="ngModel" type="email">
                                </td>
                                <td>
                                    <select name="auditorstype[]" class="form-control" [(ngModel)]="formdata.auditors[i].auditorstype" #ctrl="ngModel" >
                                        <option value="1">Internal</option>
                                        <option value="2">Statutory</option>
                                    </select>
                                </td>
                                <td>
                                    <input name="auditorsphoneno[]" class="form-control" placeholder="Phone No." [(ngModel)]="formdata.auditors[i].auditorsphoneno" #ctrl="ngModel" type="text">
                                </td>
                                <td>
                                    <button class="btn-sm btn-default form-control" *ngIf="formdata.auditors.length>1" type="button" (click)="deleteAuditorsValue(i)"><i class="fa fa-trash"></i></button>
                                    <button class="btn-sm btn-default form-control"  type="button" (click)="addAuditorsValue(i)"><i class="fa fa-plus"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <button type="button" class="btn btn-default pull-right  prev-step" (click)="prevTab($event,'tab6')">Previous</button>
                    <button type="button" class="btn btn-primary pull-right  next-step" (click)="formsubmit($event,'tab8')">Save and continue</button>
                </tab>
                <tab id="tab8">
                    <ng-template tabHeading><i class="fa fa-user-secret"></i> Company Secretry</ng-template>
                    <table class="table table-striped">
                        <thead>
                            <th>Name</th>
                            <th>Email ID</th>
                            <th>Phone Number</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let bank of formdata.companysecretary; let i = index;">
                                <td>
                                    <input name="companysecretaryname[]" class="form-control"  placeholder="Name" [(ngModel)]="formdata.companysecretary[i].companysecretaryname" #ctrl="ngModel" type="text">
                                </td>
                                <td>
                                    <input name="companysecretaryemailid[]" class="form-control"  placeholder="Email ID" [(ngModel)]="formdata.companysecretary[i].companysecretaryemailid" #ctrl="ngModel" type="email">
                                </td>
                                <td>
                                    <input name="companysecretaryphoneno[]" class="form-control" placeholder="Phone No." [(ngModel)]="formdata.companysecretary[i].companysecretaryphoneno" #ctrl="ngModel" type="text">
                                </td>
                            
                                <td>
                                    <button class="btn-sm btn-default form-control" *ngIf="formdata.companysecretary.length>1" type="button" (click)="deleteCompanysecretaryValue(i)"><i class="fa fa-trash"></i></button>
                                    <button class="btn-sm btn-default form-control"  type="button" (click)="addCompanysecretaryValue(i)"><i class="fa fa-plus"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <button type="button" class="btn btn-default pull-right prev-step" (click)="prevTab($event,'tab7')">Previous</button>
                    <button type="button" class="btn btn-primary pull-right next-step" (click)="formsubmit($event,'tab8')">Save</button>
                </tab>
            </tabset>
        </div>
    </div>
</div>